* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
}

:root {
  --blue-color: #305cde;
  --white-color: #fafafa;
  --black-color: #333333;
  --hover-gray-color: #e0e0e0;
  --gray-color: #b0b0b0;

  --border-radius-xl: 18px;
  --border-radius-md: 12px;
  --border-radius-sm: 6px;

  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breapoint-xxl: 1320px;
}

@font-face {
  font-family: "poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(/fonts/Poppins-Regular.ttf) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url(/fonts/Roboto-Regular.ttf) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", "Times New Roman", Times, serif;
}

a,
p,
div,
span,
section,
button {
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
